
<div style="margin: 1rem 0" class="w-full max-w-full overflow-hidden">

<div style="margin-bottom: 1rem"><span class="italic">Liked this? Subscribe to my newsletter on substack</span></div>
<div>
    <iframe src="https://anshulbuilds.substack.com/embed" loading = "lazy" class="w-full h-auto" width="480" height="150" style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</div>

</div>